<template>
  <div class="md:flex">
    <template v-for="(item, index) in list" :key="item.title">
      <Card
        size="small"
        :loading="$attrs.loading"
        :title="item.title"
        class="md:w-1/4 w-full md:!mt-0 !mt-4"
        :class="[index + 1 < 4 && 'md:!mr-4']"
        :canExpan="true"
      >
        <template #extra>
          <Tag :color="item.color">{{ item.action }}</Tag>
        </template>

        <div class="p-2 flex justify-between">
          <CountTo
            :suffix="item.suffix_value"
            :startVal="1"
            :endVal="item.value"
            class="text-2xl"
          />
          <Icon :icon="item.icon" :size="40" />
        </div>
        <div v-if="item.value2" class="p-2 flex justify-between">
          <CountTo
            :suffix="item.suffix_value2"
            :startVal="1"
            :endVal="item.value2"
            class="text-2xl"
          />
        </div>
      </Card>
    </template>
  </div>
</template>
<script lang="ts">
  import { defineComponent, PropType } from 'vue';

  import { CountTo } from '/@/components/CountTo/index';
  import { Icon } from '/@/components/Icon';
  import { Tag, Card } from 'ant-design-vue';
  import { GrowCardItem } from '../data';

  export default defineComponent({
    components: { CountTo, Tag, Card, Icon },
    props: {
      list: Array as PropType<GrowCardItem[]>
    }
  });
</script>
