<template>
  <PageWrapper dense contentFullHeight fixedHeight contentClass="flex">
    <BasicTable @register="registerTable" class="w-4/4 xl:w-5/5" :searchInfo="searchInfo">
      <template #createdAt="{ text }">
        <span>
          {{ formatToDateTime(text) }}
        </span>
      </template>
      <template #payment_type="{ dom, record }">
        <div
          class="
            inline-flex
            items-center
            h-6
            px-1.5
            py-0
            font-normal
            text-xs
            whitespace-nowrap
            bg-gray-100
            rounded-2xl
            border-2 border-solid
          "
          style="color: #eeae20; border-color: #eeae20"
          v-if="record?.store?.ewallet_account && record?.store?.payment_type === 'eco'"
        >
          <Icon icon="ion:settings-outline" />
          Ví Eco
        </div>
        <div
          class="
            inline-flex
            items-center
            h-6
            px-1.5
            py-0
            font-normal
            text-xs
            whitespace-nowrap
            bg-gray-100
            rounded-2xl
            border-2 border-solid
          "
          style="color: #9a6aff; border-color: #9a6aff"
          v-else-if="record?.store?.bank_name && record?.store?.payment_type === 'bank'"
        >
          <Icon icon="ion:settings-outline" /> Ngân hàng</div
        >
        <div
          class="
            inline-flex
            items-center
            h-6
            px-1.5
            py-0
            font-normal
            text-xs
            whitespace-nowrap
            bg-gray-100
            rounded-2xl
            border-2 border-solid
          "
          style="color: #ed4b9e; border-color: #ed4b9e"
          v-else
        >
          <Icon icon="ion:settings-outline" />Chưa thiết lập</div
        >
      </template>
      <template #type="{ dom, record }">
        <a-tag
          v-if="record?.store?.ewallet_account && record?.store?.payment_type === 'eco'"
          class="tag"
        >
          {{ record?.store?.ewallet_account }}
        </a-tag>
        <a-tag
          v-else-if="record?.store?.bank_name && record?.store?.payment_type === 'bank'"
          class="tag"
        >
          {{ record?.store?.bank_account_number }}
          <br />
          ({{ record?.store?.bank_name }})
        </a-tag>
        <span v-else> - </span>
      </template>
    </BasicTable>
  </PageWrapper>
</template>
<script lang="ts">
  import { defineComponent, reactive } from 'vue';

  import { BasicTable, useTable, TableAction } from '/@/components/Table';
  import { PageWrapper } from '/@/components/Page';

  import { useModal } from '/@/components/Modal';

  import { columns, searchFormSchema } from './transaction.data';
  import { useGo } from '/@/hooks/web/usePage';
  import { formatToDateTime } from '/@/utils/dateUtil';
  import { adminApi } from '/@/api/sys/admin';
  import { Tag } from 'ant-design-vue';
  import Icon from '/@/components/Icon';

  export default defineComponent({
    name: 'SupportManagement',
    components: { BasicTable, PageWrapper, TableAction, Icon, [Tag.name]: Tag },
    setup() {
      const go = useGo();
      const [registerModal, { openModal }] = useModal();
      const searchInfo = reactive<Recordable>({ type: 'default' });
      const [registerTable, { reload, updateTableDataRecord }] = useTable({
        title: 'Danh sách giao dịch',
        api: adminApi.queryTransactions,
        rowKey: '_id',
        columns,
        showTableSetting: true,
        bordered: true
      });

      function handleCreate() {
        openModal(true, {
          isUpdate: false
        });
      }

      function handleEdit(record: Recordable) {
        console.log(record);
        openModal(true, {
          record,
          isUpdate: true
        });
      }

      function handleDelete(record: Recordable) {
        console.log(record);
      }

      function getTypeReplied(item) {
        if (item === false) return 'unreplied';
        else return 'replied';
      }
      function colorReplied(item) {
        if (item === false) return 'red';
        else return 'green';
      }
      function handleSuccess({ isUpdate, values }) {
        if (isUpdate) {
          // 演示不刷新表格直接更新内部数据。
          // 注意：updateTableDataRecord要求表格的rowKey属性为string并且存在于每一行的record的keys中
          const result = updateTableDataRecord(values.id, values);
          console.log(result);
        } else {
          reload();
        }
      }

      function handleSelect(deptId = '') {
        searchInfo.deptId = deptId;
        reload();
      }

      function handleView(record: Recordable) {
        go('/support/detail/' + record._id);
      }

      return {
        registerTable,
        registerModal,
        handleCreate,
        handleEdit,
        handleDelete,
        handleSuccess,
        handleSelect,
        handleView,
        searchInfo,
        formatToDateTime,
        getTypeReplied,
        colorReplied
      };
    }
  });
</script>
