<template>
  <PageWrapper title="Single number: 234231029431" contentBackground>
    <template #extra>
      <a-button> Operation </a-button>
      <a-button> Operation 2 </a-button>
      <a-button type="primary"> Main operation </a-button>
    </template>

    <template #footer>
      <a-tabs default-active-key="1">
        <a-tab-pane key="1" tab="Detail" />
        <a-tab-pane key="2" tab="rule" />
      </a-tabs>
    </template>

    <div class="pt-4 m-4 desc-wrap">
      <a-descriptions size="small" :column="2">
        <a-descriptions-item label="founder"> 曲丽丽 </a-descriptions-item>
        <a-descriptions-item label="Ordering Products"> XX 服务 </a-descriptions-item>
        <a-descriptions-item label="Create time"> 2017-01-10 </a-descriptions-item>
        <a-descriptions-item label="Associated document">
          <a>12421</a>
        </a-descriptions-item>
        <a-descriptions-item label="effective date"> 2017-07-07 ~ 2017-08-08 </a-descriptions-item>
        <a-descriptions-item label="Note"> 请于两个工作日内确认 </a-descriptions-item>
      </a-descriptions>
      <a-card title="Process progress" :bordered="false">
        <a-steps :current="1" progress-dot size="small">
          <a-step title="Create a project">
            <template #description> <div>Vben</div> <p>2016-12-12 12:32</p> </template>
          </a-step>
          <a-step title="First trial">
            <template #description>
              <p>Chad</p>
            </template>
          </a-step>
          <a-step title="Financial review" />
          <a-step title="carry out" />
        </a-steps>
      </a-card>

      <a-card title="User Info" :bordered="false" class="mt-5">
        <a-descriptions :column="3">
          <a-descriptions-item label="username"> 付小小 </a-descriptions-item>
          <a-descriptions-item label="member card number">
            XX 32943898021309809423
          </a-descriptions-item>
          <a-descriptions-item label="ID card"> 3321944288191034921 </a-descriptions-item>
          <a-descriptions-item label="contact details"> 18112345678 </a-descriptions-item>
          <a-descriptions-item label="contact address" :span="2">
            曲丽丽 18100000000 浙江省杭州市西湖区黄姑山路工专路交叉路口
          </a-descriptions-item>
        </a-descriptions>

        <a-descriptions title="Information group" :column="3">
          <a-descriptions-item label="A certain data"> 111 </a-descriptions-item>
          <a-descriptions-item label="This data update time"> 2017-08-08 </a-descriptions-item>
          <a-descriptions-item label="A certain data"> 725 </a-descriptions-item>
          <a-descriptions-item label="This data update time"> 2017-08-08 </a-descriptions-item>
        </a-descriptions>

        <h4>信息组</h4>
        <a-card title="Multi-level information group">
          <a-descriptions title="Group name" :column="3">
            <a-descriptions-item label="principal"> 林东东 </a-descriptions-item>
            <a-descriptions-item label="Role code"> 1234567 </a-descriptions-item>
            <a-descriptions-item label="Department"> XX公司 - YY部 </a-descriptions-item>
            <a-descriptions-item label="expire date"> 2017-08-08 </a-descriptions-item>
            <a-descriptions-item label="description" :span="2">
              这段描述很长很长很长很长很长很长很长很长很长很长很长很长很长很长...
            </a-descriptions-item>
          </a-descriptions>
          <a-divider />
          <a-descriptions title="Group name" :column="1">
            <a-descriptions-item label="scientific name">
              Citrullus lanatus (Thunb.) Matsum. et
              Nakai一年生蔓生藤本；茎、枝粗壮，具明显的棱。卷须较粗..
            </a-descriptions-item>
          </a-descriptions>
          <a-divider />
          <a-descriptions title="Group name" :column="1">
            <a-descriptions-item label="principal"> 付小小 </a-descriptions-item>
            <a-descriptions-item label="Role code"> 1234568 </a-descriptions-item>
          </a-descriptions>
        </a-card>
      </a-card>
      <a-card title="User calls in recent year" class="my-5">
        <Empty />
      </a-card>
      <BasicTable @register="registerTimeTable" />
    </div>
  </PageWrapper>
</template>
<script lang="ts">
  import { defineComponent } from 'vue';
  import { BasicTable, useTable } from '/@/components/Table';
  import { PageWrapper } from '/@/components/Page';
  import { Divider, Card, Empty, Descriptions, Steps, Tabs } from 'ant-design-vue';

  import { refundTimeTableSchema, refundTimeTableData } from './data';
  export default defineComponent({
    components: {
      BasicTable,
      PageWrapper,
      [Divider.name]: Divider,
      [Card.name]: Card,
      Empty,
      [Descriptions.name]: Descriptions,
      [Descriptions.Item.name]: Descriptions.Item,
      [Steps.name]: Steps,
      [Steps.Step.name]: Steps.Step,
      [Tabs.name]: Tabs,
      [Tabs.TabPane.name]: Tabs.TabPane
    },
    setup() {
      const [registerTimeTable] = useTable({
        title: 'Return progress',
        columns: refundTimeTableSchema,
        pagination: false,
        dataSource: refundTimeTableData,
        showIndexColumn: false,
        scroll: { y: 300 }
      });

      return {
        registerTimeTable
      };
    }
  });
</script>
