<template>
  <div class="p-4">
    <div class="!my-4">
      <GrowCard :loading="loading" :list="statisticCardList" class="enter-y" />
    </div>
    <div class="!my-4">
      <TransactionList />
    </div>
  </div>
</template>
<script lang="ts">
  import { defineComponent, onMounted, ref } from 'vue';
  import GrowCard from './components/GrowCard.vue';
  import TransactionList from './components/TransactionList.vue';
  import { GrowCardItem } from './data';
  import { adminApi } from '/@/api/sys/admin';
  import { dateUtil } from '/@/utils/dateUtil';
  export default defineComponent({
    components: {
      GrowCard,
      TransactionList
    },
    setup() {
      const loading = ref(true);
      const statisticCardList = ref<GrowCardItem[]>([]);
      async function getStatistics() {
        const { data } = await adminApi.getStatistics(
          dateUtil().startOf('month').valueOf(),
          dateUtil().endOf('month').valueOf()
        );
        statisticCardList.value = [
          {
            title: 'Doanh thu',
            icon: 'total-sales|svg',
            value: data.find((it) => it._id === 'success')?.totalAmount || 0,
            suffix_value: ' đồng',
            color: 'blue',
            action: 'Tháng'
          },
          {
            title: 'Tổng số giao dịch',
            icon: 'transaction|svg',
            value: data.reduce((prev, curr) => prev + curr.total, 0),
            suffix_value: ' giao dịch',
            color: 'orange',
            action: 'Tháng'
          },
          {
            title: 'Số giao dịch thành công',
            icon: 'transaction|svg',
            value: data.find((it) => it._id === 'success')?.total || 0,
            suffix_value: ' giao dịch',
            color: 'purple',
            action: 'Tháng'
          },
          {
            title: 'Số giao dịch thất bại',
            icon: 'transaction|svg',
            value: data.find((it) => it._id === 'failed')?.total || 0,
            suffix_value: ' giao dịch',
            color: 'purple',
            action: 'Tháng'
          }
        ];
      }

      onMounted(async () => {
        getStatistics();
      });

      setTimeout(() => {
        loading.value = false;
      }, 500);
      return { loading, statisticCardList };
    }
  });
</script>
